<html>
<head>
	<title>Dish-Menu</title>
<script type="text/javascript" src="menu.js"></script>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 50%
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
</head>
<body style="background-image: url(img/menu2.jpg); background-size: 1362px">
    <a href="home.html" style="margin-left: 1100px;"><button style="background-color: red;height: 30px;width: 90px;color: white;border-radius: 20px">Home</button></a>
	<h1 align="center" style="text-transform: uppercase; margin-left: 575px; margin-top: 70px">FoodCourt menu</h1>
<div id="wrapper">
<table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1 style="margin-left: 585px; margin-top: 30px; background-image: url(img/background2.jpg); color: white;text-align: center; width: 680px;">
<tr>
<th>Dish Name</th>
<th>Dish Price</th>
<th>Today Discount(%)</th>
<th>Option</th>
</tr>

<tr id="row1">
<td id="dish_row1">Thali</td>
<td id="price_row1">60Rs</td>
<td id="discount_row1">10%</td>
<td>

<input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>

<tr id="row2">
<td id="dish_row2">Ricebowl</td>
<td id="price_row2">70Rs</td>
<td id="discount_row2">20%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>

<tr id="row3">
<td id="dish_row3">Paratha With Butter</td>
<td id="price_row3">30Rs</td>
<td id="discount_row3">10%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>

<tr id="row4">
<td id="dish_row4">Allu Paratha</td>
<td id="price_row4">30Rs</td>
<td id="discount_row4">10%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>

<tr id="row5">
<td id="dish_row5">Mix Paratha</td>
<td id="price_row5">40Rs</td>
<td id="discount_row5">15%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>

<tr id="row6">
<td id="dish_row6">Allu Paratha</td>
<td id="price_row6">30Rs</td>
<td id="discount_row6">10%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>

<tr id="row7">
<td id="dish_row7">Rajma Rice</td>
<td id="price_row7">30Rs</td>
<td id="discount_row7">10%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>

<tr id="row9">
    <td id="dish_row9">kadri Rice</td>
    <td id="price_row9">50Rs</td>
    <td id="discount_row9">15%</td>
    <td>
        <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">
    
    </td>
    </tr>

<tr id="row9">
<td id="dish_row9">Paneer Bowl</td>
<td id="price_row9">50Rs</td>
<td id="discount_row9">15%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>

<tr id="row10">
<td id="dish_row10">Palak Paneer</td>
<td id="price_row10">60Rs</td>
<td id="discount_row10">20%</td>
<td>
    <input type="button" id="save_button1" value="Pre-Order" class="save" onclick="save_row('1')"style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none">

</td>
</tr>





</table>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 style="color: #26ae60 ; background-color:#4dff4d;color: white;border-radius: 20px;text-align: center; ">Order Detail</h1>
    <h3 style="margin-left:30px">Dish</h3>
    <h3 style="margin-left:150px; margin-top: -40px">Discount(%)</h3>
    <h3 style="margin-left: 350px; margin-top: -40px">Price</h3>
    <hr>
    <h4 style="margin-left:30px">Thali</h4>
    <h4 style="margin-left:180px; margin-top: -40px">10%</h4>
    <h4 style="margin-left: 360px; margin-top: -40px">60.00.Rs</h4>
    <h4 style="margin-left: 352px; margin-top: -05px;color: red">- 06.00.Rs</h4><hr>
    <h4 style="margin-left:30px;margin-top: 00px" >Total</h4>
    <h4 style="margin-left: 360px; margin-top: -35px">54.00.Rs</h4>
   <a href=""> <button type="button" id="save_button1"  class="save" onclick="myFunction() "style="background-color: #4dff4d ; color: white; border-radius: 10px;border:none;margin-left: 180px; height: 50px;width: 120px;"><h2>Pay Now</h2></button></a>
    
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("save_button1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
 <script>
function myFunction() {
                        if (confirm("Only Cash Payment Availble")) 
                            {
                               alert("Thank You For Shopping");
                            } 
                        else {}
                        document.getElementById("demo").innerHTML 
                      }

function search(){
    alert("Data is not store in the database")
}
</script>

</body>
</html>