<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LFH|LPU Food House</title>
<!-- 
Cafe House Template
http://www.templatemo.com/tm-466-cafe-house
-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/templatemo-style.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Preloader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Preloader -->
    <div class="tm-top-header">
      <div class="container">
        <div class="row">
          <div class="tm-top-header-inner">
            <div class="tm-logo-container">
              <img src="img/logo.png" alt="Logo" class="tm-site-logo">
              <h1 class="tm-site-name tm-handwriting-font">LPU Food House</h1>
            </div>
            <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
              <ul >
                <li><a href="home.html" >Home</a></li>
                <li><a href="foodcourt.html" class="active">Service</a></li>
                <li><a href="today-special.html">Today Special</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html" style="background-color:blue; border-radius: 40px; height:30px ;">Sign In / Sign Up</a></li>
              </ul>
            </nav>   
          </div>           
        </div>    
      </div>
    </div>
    <section class="tm-welcome-section">
      <div class="container tm-position-relative">
        <div class="tm-lights-container">
          <img src="img/light.png" alt="Light" class="light light-1">
          <img src="img/light.png" alt="Light" class="light light-2">
          <img src="img/light.png" alt="Light" class="light light-3">  
        </div>        
        <div class="row tm-welcome-content">
          <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="img/header-line.png" alt="Line" class="tm-header-line">&nbsp;Welcome To&nbsp;&nbsp;<img src="img/header-line.png" alt="Line" class="tm-header-line"></h2>
          <h2 class="gold-text tm-welcome-header-2">LPU Food House</h2>
          <h4 class="gray-text tm-welcome-description" style="padding-left: 210px;"><span class="gold-text">YOUR FOOD YOUR CHOICE</span></h4>
          <a href="#main" class="tm-more-button tm-more-button-welcome">YOUR FOOD</a>      
        </div>
        <img src="img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">             
      </div>      
    </section>
    <div class="tm-main-section light-gray-bg">
      <div class="container" id="main">
           
        <section class="tm-section tm-section-margin-bottom-0 row">
          <div class="col-lg-12 tm-section-header-container" id="p1">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo">PUNJABI FOOD</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>
          <div class="col-lg-12 tm-popular-items-container">
            <div class="tm-popular-item">
              <img src="img/shop4.jpg" alt="Popular" class="tm-popular-item-img" style="height:191px;">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title" style="font-size: 30px;"><span class="tm-handwriting-font bigger-first-letter">K</span>itchen Ette </h3><hr class="tm-popular-item-hr">
                <p> THis food-court vey famous for Nouth Indian Food. Mostly LPU family Like this Food-court</p>
                <div class="order-now-container">
                  <a href="cus_menu.html" class="order-now-link tm-handwriting-font">Order Now</a>
                </div>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src="img/shop2.jpg" alt="Popular" class="tm-popular-item-img" style="height:191px;">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title" style="font-size: 30px;"><span class="tm-handwriting-font bigger-first-letter">P</span>UNJAB GRILL </h3><hr class="tm-popular-item-hr">
                <p>THis food-court vey famous for Nouth Indian Food. Mostly LPU family Like this Food-court</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                </div>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src="img/shop3.jpg" alt="Popular" class="tm-popular-item-img" style="height:191px; width: 286px;">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">P</span>atiala Kichen</h3><hr class="tm-popular-item-hr">
                <p>THis food-court vey famous for Nouth Indian Food. Mostly LPU family Like this Food-court.</p>
                <div class="order-now-container">
                  <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                </div>
              </div>              
            </div>
            <div class="tm-popular-item">
                <img src="img/shop1.jpg" alt="Popular" class="tm-popular-item-img" style="height:191px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">G</span>reat Punjabi</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop5.jpg" alt="Popular" class="tm-popular-item-img" style="height:191px; width: 286px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">K</span>opitiam</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop6.jpg" alt="Popular" class="tm-popular-item-img" style="height:191px; width: 286px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">H</span>rishi's food</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
            <a href="#" class="tm-more-button margin-top-30" style="margin-left: 360px;">More Food Courts</a>
          </div>          
        </section>


        <section class="tm-section tm-section-margin-bottom-0 row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo"> NOUTH FOOD</h2>
              <div class="tm-hr-container"><hr class="tm-hr"></div>
            </div>
            <div class="col-lg-12 tm-popular-items-container">
              <div class="tm-popular-item">
                <img src="img/shop7.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop8.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop9.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                  <img src="img/shop10.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop11.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop12.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
              <a href="menu.html" class="tm-more-button margin-top-30" style="margin-left: 360px;">More Food Courts</a>
            </div>          
          </section>

          <section class="tm-section tm-section-margin-bottom-0 row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo">SOUTH FOOD</h2>
              <div class="tm-hr-container"><hr class="tm-hr"></div>
            </div>
            <div class="col-lg-12 tm-popular-items-container">
              <div class="tm-popular-item">
                <img src="img/shop13.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop14.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop15.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                  <img src="img/shop16.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop17.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop18.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
              <a href="menu.html" class="tm-more-button margin-top-30" style="margin-left: 360px;">More Food Courts</a>
            </div>          
          </section>

          <section class="tm-section tm-section-margin-bottom-0 row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo">CHINESE FOOD</h2>
              <div class="tm-hr-container"><hr class="tm-hr"></div>
            </div>
            <div class="col-lg-12 tm-popular-items-container">
              <div class="tm-popular-item">
                <img src="img/shop19.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop20.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop21.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                  <img src="img/shop22.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop23.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop24.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
              <a href="menu.html" class="tm-more-button margin-top-30" style="margin-left: 360px;">More Food Courts</a>
            </div>          
          </section>

          <section class="tm-section tm-section-margin-bottom-0 row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo">JUICE BAR</h2>
              <div class="tm-hr-container"><hr class="tm-hr"></div>
            </div>
            <div class="col-lg-12 tm-popular-items-container">
              <div class="tm-popular-item">
                <img src="img/shop25.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop26.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/shop27.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                  <img src="img/shop28.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop29.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/shop30.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
              <a href="menu.html" class="tm-more-button margin-top-30" style="margin-left: 360px;">More Food Courts</a>
            </div>          
          </section>


          <section class="tm-section tm-section-margin-bottom-0 row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo">COFFEE / TEA</h2>
              <div class="tm-hr-container"><hr class="tm-hr"></div>
            </div>
            <div class="col-lg-12 tm-popular-items-container">
              <div class="tm-popular-item">
                <img src="img/dosa.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/dosa.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                <img src="img/dosa.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                <div class="tm-popular-item-description">
                  <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                  <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                  <div class="order-now-container">
                    <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                  </div>
                </div>              
              </div>
              <div class="tm-popular-item">
                  <img src="img/dosa.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/dosa.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
                <div class="tm-popular-item">
                  <img src="img/dosa.jpg" alt="Popular" class="tm-popular-item-img" style="height:161px;">
                  <div class="tm-popular-item-description">
                    <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">D</span>osa</h3><hr class="tm-popular-item-hr">
                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.</p>
                    <div class="order-now-container">
                      <a href="#" class="order-now-link tm-handwriting-font">Order Now</a>
                    </div>
                  </div>              
                </div>
              <a href="menu.html" class="tm-more-button margin-top-30" style="margin-left: 360px;">More Food Courts</a>
            </div>          
          </section>
      </div>
    </div> 
    <footer>
      <div class="tm-black-bg">
        <div class="container">
          <div class="row margin-bottom-60">
            <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
              <h3 class="tm-footer-div-title">Main Menu</h3>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Service</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </nav>
            <div class="col-lg-5 col-md-5 tm-footer-div">
              <h3 class="tm-footer-div-title">About Us</h3>
              <p class="margin-top-15">Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
              <p class="margin-top-15">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
            </div>
            <div class="col-lg-4 col-md-4 tm-footer-div">
              <h3 class="tm-footer-div-title">Get Social</h3>
              <p>You can fllowes me at social media</p>
              <div class="tm-social-icons-container">
                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-youtube"></i></a>
                <a href="#" class="tm-social-icon"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>          
        </div>  
      </div>      
      <div>
        <div class="container">
          <div class="row tm-copyright">
           <p class="col-lg-12 small copyright-text text-center">Copyright &copy; LPU Food House 2020</p>
         </div>  
       </div>
     </div>
   </footer> <!-- Footer content-->  
   <!-- JS -->
   <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
   <script type="text/javascript" src="js/templatemo-script.js"></script>      <!-- Templatemo Script -->

 </body>
 </html>