<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>


<div class="contact-form">
    <div class="pic">
        <img src="img/login121.jpg" border="1px solid black" style="width: 320px; height: 400px">

    </div>

    <div class="pic2" style="margin-top: -400px" >
        <h2 style="padding-left: 95px; padding-right: 20px; background-color: #F4EF3F  ;margin-left: 400px">Sign In</h2>
        <form name="login"  action="home.html" method='post' style="padding-left: 420px;" required>
            <p>Email</p>
            <input id='mail' type="email" name="uname" placeholder="Enter Email" style="height: 20px" required>
            
            <p for="psw">Password</p>
  <input type="password" id="psw" name="psw" placeholder="Enter Password" style="height: 20px" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            <p>
            <button  style="position: absolute; left: 60%; margin-top: 20px;border-radius: 10px;width: 240px;height: 30px;background-color:rgb(80,179,153);"><a href="cus_menu.html">Sign In</button></p>
        </form>
        
        <p><a href="reg1.html" style="position:absolute; left:60%;text-decoration: none; padding-left:70px; margin-top: 70px"> Create New Account</a><p>   
       <p><a href="shop_login.html" style="position:absolute; left:60%;text-decoration: none; padding-left:70px; margin-top: 100px"> Shopkeeper Login</a><p>

    </div>
</div>
</body>
</html>